{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'geekshop/style/style.css' %}">
{% endblock %}

{% block content %}
	<div class="header">
	
		{% include 'logo.html' %}

        {% include 'basket_status.html' %}


		<div class="menu">
			<h2><b>Меню</b></h2>
			<ul class="menu">
				<li><a href="{% url 'contacts'%}">Контакты</a><br></li>
				<li><a href="{% url 'products:catalog'%}">Каталог товаров</a><br></li>
			</ul>
		</div>

		{% include 'sign.html' %}

	</div>
	
	<hr>
	
	<h1><i>Book of My Dreams</i></h1>

	<h2>Добро пожаловать!</h2>

	<h3>Вас приветствует потрясающий магазин IT-литературы!</h3>

{% endblock %}
