{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="user_delete">
    Уверены, что хотите удалить технические характеристики для книги: {{ spec_to_delete.for_book.name }}
    ?
    <form action="{% url 'adminapp:specifications_delete' spec_to_delete.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="удалить">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'adminapp:specifications' %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}
