{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book of My Dreams: PostgreSQL. Основы языка SQL. Моргунов Е.П.</title>
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style/style.css' %}">
</head>
<body>

	<div class="header">
	
		<div class="logo">
			<img src="{% static 'mainapp/img/logo.jpg' %}" alt="logo">
		</div>	
		
		<div class="menu">
			<p><b>Меню:</b></p>
			<ul class="menu">
				<li><a href="{% url 'index'%}">Главная</a><br></li>
				<li><a href="{% url 'catalog'%}">Каталог товаров</a><br></li>
				<li><a href="{% url 'contacts'%}">Контакты</a><br></li>
			</ul>
		</div>
		
	</div>	
	
	<hr>
	
    <h1><b>PostgreSQL. Основы языка SQL. Моргунов Е.П.</b></h1>
	
	<div class="product-info">
	
		<div class="art">
			<a href="{% static 'mainapp/img/morgunov_postgre.webp' %}" target="_blank">
			<img src="{% static 'mainapp/img/morgunov_postgre.webp' %}" alt="Обложка книги." width ="500" height="600" class="no-active-border"></a>
		</div>
	
		<div class="info">
			<h2><b>Описание товара.</b></h2>
	
			<h2 class="h-product"><b>Краткое описание товара.</b></h2>
			<p class="short-description">Учебно-практическое пособие по PostgreSQL.</p>
			<h3 class="h-product"><b>Цена:</b></h2>
			<p>599 рублей</p>
	
			<h2 class="h-product"><b>Характеристики товара : </b></h2>
			<ul class="characteristics">
				<li>Издательство: БХВ-Петербург</li>
				<li>Год выпуска: 2019</li>
				<li>Автор на обложке: Е. П. Моргунов</li>
				<li>Тип издания: Отдельное издание</li>
				<li>Возрастные ограничения: 16+</li>
				<li>Язык издания: Русский</li>
				<li>ISBN: 978-5-9775-4022-3</li>
			</ul>
			<form action="">
				<input type="submit" value="Купить" >
			</form>
		</div>
	</div>
	
    <h2 class="h-product"><b>Подробное описание товара</b></h2>
    <p id="main" class="detailed-description">Учебно-практическое пособие охватывает первую, базовую, часть учебного курса по языку SQL, 
        созданного при участии российской компании Postgres Professional. 
        Учебный материал излагается в расчете на использование системы управления базами данных PostgreSQL. 
        Рассмотрено создание рабочей среды, описан язык определения данных и основные операции выборки и изменения данных. 
        Показаны примеры использования транзакций, уделено внимание методам оптимизации запросов. 
        Материал сопровождается многочисленными практическими примерами. 
        Пособие может использоваться как для самостоятельного обучения, 
        так и проведения занятий под руководством преподавателя.</p>
    
	<table>
		<caption><b>Технические характеристики</b><caption>
		<tr>
			<td>Вес в упаковке, г:</td> <td>410</td>
		</tr>
		<tr>
			<td>Тип обложки:</td> <td>Мягкая обложка</td>
		</tr>
		<tr>
			<td>Формат издания:</td> <td>70x100/16</td>
		</tr>
		<tr>
			<td>Тип книги:</td> <td>Печатная книга</td>
		</tr>
		<tr>
			<td>Количество страниц:</td> <td>336</td>
		</tr>
	</table>
	
	<hr>
	
	<div class="footer">
		<p><i>&copy;Все​ ​ права​ ​ защищены</i></p>
	</div>
	
</body>