{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style/style.css' %}">
{% endblock %}

{% block content %}
	<div class="header">
	
		{% include 'logo.html' %}

        {% include 'mainapp/book_menu.html' %}
		
	</div>	
	
	<hr>
	
	<h1><b>Разработка веб-приложений с использованием Flask на языке Python. Гринберг М.</b></h1>
			
	<div class="product-info">
			
		<div class="art">
			<a href="{% static 'mainapp/img/green_flask.webp' %}" target="_blank">
			<img src="{% static 'mainapp/img/green_flask.webp' %}" alt="Обложка книги." width ="500" height="600" class="no-active-border"></a>
		</div>
		
		<div class="info">
		<h2 ><b>Описание товара.</b></h2>
		<h2 class="h-product"><b>Краткое описание товара.</b></h2>
		<p class="short-description">Учебно-практическое пособие по Flask.</p>
		<h3 class="h-product"><b>Цена:</b></h2>
		<p>455 рублей</p>
	
		<h2 class="h-product"><b>Характеристики товара : </b></h2>
		<ul class="characteristics">
			<li>Автор: Гринберг Мигель</li>
			<li>Издательство: ДМК Пресс</li>
			<li>Автор на обложке: Гринберг Мигель</li>
			<li>Возрастные ограничения: 0+</li>
			<li>Язык издания: Русский</li>
			<li>Переводчик Киселев: Александр Н.</li>
		</ul>
			<form action="">
				<input type="submit" value="Купить" >
			</form>
		</div>
	</div>
	
    <h2 class="h-product"><b>Подробное описание товара</b></h2>
    <p id="main" class="detailed-description">В этой книге вы изучите популярный микрофреймворк Flask на пошаговых примерах создания законченного приложения социального блогинга. Автор книги Мигель Гринберг познакомит вас с основными функциональными возможностями фреймворка и покажет, как расширять приложения дополнительными веб-технологиями, такими как поддержка миграции базы данных и взаимодействия с веб-службами.
	<br>
		Вместо того чтобы навязывать строгие правила, как это делают другие фреймворки, Flask оставляет за вами свободу принятия решений. Если вы имеете опыт программирования на языке Python, данная книга покажет вам, как можно воспользоваться такой свободой творчества!</p>
    
	<table>
		<caption><b>Технические характеристики</b><caption>
		<tr>
			<td>Тип книги:</td> <td>Цифровая книга</td>
		</tr>
		<tr>
			<td>Количество страниц:</td> <td>260</td>
		</tr>
	</table>

{% endblock %}