{% extends 'authnapp/base.html' %}
{% load static %}


{% block content %}
    <form class="form-horizontal" action="{% url 'authnapp:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'index' %}" class="">
            на главную
        </a>
    </button>
    {% if user.avatar %}
    <div class="user_avatar"><img src="/media/{{ user.avatar }}"></div>
    {% else %}
        <p>Аватар отсутствует.</p>
    {% endif %}
{% endblock %}
