{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
  <div class="user_delete">
    Уверены, что хотите удалить {{ translator_to_delete.name }} {{ translator_to_delete.second_name }}
    ?
    <form action="{% url 'adminapp:translator_delete' translator_to_delete.pk %}"
          method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="удалить">
    </form>
    <button class="btn btn-success">
      <a href="{% url 'adminapp:translator' %}">
        Отмена
      </a>
    </button>
  </div>
{% endblock %}
