{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="{% static 'mainapp/style/style.css' %}">
{% endblock %}

{% block content %}
	<div class="header">

		{% include 'logo.html' %}

		<div class="menu">
			<h1><b>Меню:</b></h1>
			<ul class="menu">
				<li><a href="{% url 'index'%}">Главная</a><br></li>
				<li><a href="{% url 'contacts'%}">Контакты</a><br></li>
			</ul>
		</div>

		{% include 'sign.html' %}

	</div>

	<hr>

	<h2 class="catalog">Каталог товаров:</h2>

	<div class="catalog-list">



        {% for book in books %}
            <div class="book">
			    <img src="{{ book.image.url }}" width ="360" height="420"><br>
			    <a href="{% url 'products:book' id=book.book_id %}#main">{{ book.name }} - {{book.author}}<a><br>
            </div>
        {% endfor %}

	</div>
    <h1>{{ image.url }}</h1>
{% endblock %}
